* {
    margin: 0;
    padding: o;

}

body {
    display: flex;
    justify-content: center;
    background-color: black;
}

.post {
    height: 600px;
    width: 400px;
    background-color: white;
    margin-top: 200px;
}

.header {
    height: 50px;
    display: flex;
    flex-direction: row;
    

}

.logo {
    height: 25px; 
    width: 25px;
    padding-top: 10px;
    padding-left: 10px;
}

.logo2 {
    height: 40px; 
    width: 20px;
        
}

.logosName {
    font-family: roboto condensed;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 10px;
}

.menu {
    width: 90%;
    margin-left: 290px;
        
}

img {
    margin: 0%;
    height: 300px;
    width: 400px;
    object-fit: cover;
    object-position: top;
    display: flex;
}

.Icons {
    font-size: 20px;
    display: flex;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 5px;
    
}

.fa-regular {
    padding-left: 3px;
}

.save {
    margin-left: 280px;
    
}

p {
    padding-left: 7px;
}